<h1>Form Input Karyawan Baru</h1>
<hr><hr>

<form action="/karyawan/proses-simpan" method="post">
    <%# post untuk kirim sedang get untuk ambil data>%>
    <label>Nama Lengkap</label>
    <input type="text" name="nama_lengkap " id="namakaryawan">
    <%# name utk backend, id utk animasi javascript>%>
    <br><br>

    <label>Alamat</label>
    <textarea name="alamat" id="alamatkaryawan"></textarea>
    <br><br>

    <label>Nomor Telepon</label>
    <input type="text" name="no_telp" id="notelpkaryawan">
    <br><br>

    <label>Golongan Darah</label>
    <select name="gol_darah" id="goldarahkaryawan">
        <option value="">--pilih--</option>
        <option>A</option>
        <option>B</option>
        <option>AB</option>
        <option>O</option>
    </select>
    <br><br>

    <label>Jenis Kelamin</label>
    <select name="jns_kelamin" id="jnskelaminkaryawan">
        <option value="">--pilih--</option>
        <option value="L">Laki</option>
        <option value="P">Perempuan</option>
    </select>
    <br><br>
    <button type="submit">simpan</button>
</form>